@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Racing+Sans+One&display=swap");

* {
  box-sizing: border-box;
  font-family: "Noto Sans KR", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Racing Sans One", sans-serif;
}
html,
body {
  margin: 0;
  padding: 0;
}
header,
main,
section,
article,
nav,
aside,
footer {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
}
button {
  cursor: pointer;
}

#ex_01 {
  padding: 60px 0;
  background-image: url(../img/grapes-bg-left.png),
    url(../img/grapes-bg-right.png);
  background-repeat: no-repeat;
  background-position: 0 50%, 100% 50%;
  background-size: 240px, 240px;
  vertical-align: middle;
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
}

#ex_01 .wrap {
  width: 1200px;
  margin: 0 auto;
  font-size: 0;
}

#ex_01 .wrap .box {
  width: 20%;
  display: inline-block;
  padding: 0 10px 20px 10px;
}

#ex_01 .wrap .box .inbox {
  height: 220px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fff;
  transition: 0.8s;
}

#ex_01 .wrap .box .inbox:hover {
  box-shadow: 0 0 8px rgba(255, 0, 0, 0.75);
}

#ex_01 .wrap .box .inbox .img_space {
  height: 100%;
  background-size: cover;
  background-position: 50% 50%;
  border-radius: 4px;
}

#ex_01 .wrap .box:nth-child(1) .inbox .img_space {
  background-image: url(../img/fruit_01.jpg);
}

#ex_01 .wrap .box:nth-child(2) .inbox .img_space {
  background-image: url(../img/fruit_02.jpg);
}
#ex_01 .wrap .box:nth-child(3) .inbox .img_space {
  background-image: url(../img/fruit_03.jpg);
}
#ex_01 .wrap .box:nth-child(4) .inbox .img_space {
  background-image: url(../img/fruit_04.jpg);
}
#ex_01 .wrap .box:nth-child(5) .inbox .img_space {
  background-image: url(../img/fruit_05.jpg);
}
#ex_01 .wrap .box:nth-child(6) .inbox .img_space {
  background-image: url(../img/fruit_06.jpg);
}
#ex_01 .wrap .box:nth-child(7) .inbox .img_space {
  background-image: url(../img/fruit_07.jpg);
}
#ex_01 .wrap .box:nth-child(8) .inbox .img_space {
  background-image: url(../img/fruit_08.jpg);
}
#ex_01 .wrap .box:nth-child(9) .inbox .img_space {
  background-image: url(../img/fruit_09.jpg);
}
#ex_01 .wrap .box:nth-child(10) .inbox .img_space {
  background-image: url(../img/fruit_10.jpg);
}

#ex_02 {
  background-image: url(../img/cook_bg.png);
  background-size: cover;
  background-position: center center;
  background-repeat: repeat;
  padding: 40px 0;
  font-family: "Poppins", sans-serif;
}
#ex_02 .wrap {
  width: 1200px;
  margin: 0 auto;
}

#ex_02 .wrap h2 {
  font-size: 28px;
  text-align: center;
  color: #f70;
  line-height: 60px;
  margin-bottom: 20px;
  font-family: "Poppins", sans-serif;
}
#ex_02 .wrap .cont {
}
#ex_02 .wrap .cont .box {
  display: flex;
}
#ex_02 .wrap .cont .box .inbox {
  width: 25%;
  border-radius: 6px;
  padding: 15px;
  margin: 0 10px;
  border-radius: 6px;
  background-color: #fff;
  border: 1px solid #ddd;
  transition: 0.8s;
}
#ex_02 .wrap .cont .box .inbox .img_space {
  height: 240px;
  background-size: cover;
  background-position: center center;
  border-radius: 4px;
}
#ex_02 .wrap .cont .box .inbox:nth-child(1) .img_space {
  background-image: url(../img/dessert_01.jpg);
}
#ex_02 .wrap .cont .box .inbox:nth-child(2) .img_space {
  background-image: url(../img/dessert_02.jpg);
}
#ex_02 .wrap .cont .box .inbox:nth-child(3) .img_space {
  background-image: url(../img/dessert_03.jpg);
}
#ex_02 .wrap .cont .box .inbox:nth-child(4) .img_space {
  background-image: url(../img/dessert_04.jpg);
}
#ex_02 .wrap .cont .box .inbox .txt_space {
  margin-top: 20px;
  text-align: center;
}

#ex_02 .wrap .cont .box .inbox:hover {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}
#ex_02 .wrap .cont .box .inbox .txt_space h3 {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  color: #777;
}
#ex_02 .wrap .cont .box .inbox .detail {
}
#ex_02 .wrap .cont .box .inbox .detail button {
  float: left;
  height: 40px;
  padding: 0 20px;
  background-color: transparent;
  border: 1px solid #f70;
  font-size: 14px;
  color: #f70;
  font-family: "Poppins", sans-serif;
  margin-top: 20px;
  border-radius: 20px;
}

#ex_02 .wrap .cont .box .inbox .detail button:hover {
  color: white;
  background-color: #f70;
  transition: 0.8s;
}
#ex_02 .wrap .cont .box .inbox .detail a {
  float: right;
}
#ex_02 .wrap .cont .box .inbox .detail a img {
  height: 40px;
  margin-top: 20px;
}

#ex_03 {
  font-family: "Poppins", sans-serif;
  font-size: 0;
  padding: 20px;
}

#ex_03 .box {
  display: inline-block;
  width: calc(100% / 3);
  height: 900px;
  padding: 20px;
  position: relative;
  vertical-align: top;
}

#ex_03 .box:nth-child(1) {
  background-color: #6364a7;
}

#ex_03 .box h3 {
  font-family: "Racing Sans One", sans-serif;
  width: 200px;
  font-size: 40px;
  color: white;
}
#ex_03 .box .pantone_img {
  position: absolute;
  bottom: 20px;
  left: 20px;
  width: 200px;
  height: 200px;
  border: 10px solid #fff;
  padding: 10px;
}
#ex_03 .box .pantone_img a {
}
#ex_03 .box .pantone_img a img {
  height: 60px;
}
#ex_03 .box .pantone_img a img:nth-child(2) {
  height: 20px;
  position: absolute;
  bottom: 10px;
  left: 10px;
}

#ex_03 .box:nth-child(2) {
  background-image: url(../img/pantone_color_img.png);
  background-size: cover;
  background-position: 50% 50%;
}

#ex_03 .box:nth-child(3) {
  background-color: #fff;
}

#ex_03 .box:nth-child(3) .text {
  position: absolute;
  bottom: 20px;
  left: 20px;
}
#ex_03 .box:nth-child(3) .text h3 {
  width: 180px;
  font-family: "Poppins", sans-serif;
  font-size: 32px;
  color: #6364a7;
}
#ex_03 .box:nth-child(3) .text p {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: #777;
  padding: 10px 0 20px 0;
}
#ex_03 .box:nth-child(3) .text button {
  font-family: "Poppins", sans-serif;
  background-color: transparent;
  border-radius: 20px;
  height: 40px;
  padding: 0 20px;
  border: 1px solid #6364a7;
  font-size: 16px;
  color: #6364a7;
  transition: 0.8s;
  cursor: pointer;
}

#ex_03 .box:nth-child(3) .text button:hover {
  background-color: #6364a7;
  color: white;
}

#ex_04 {
  font-family: "Poppins", sans-serif;
}

#ex_04 .wrap {
  width: 1200px;
  margin: auto auto;
}

#ex_04 .wrap > div {
  width: calc(100% / 3);
  height: 400px;
  padding: 20px;
  position: relative;
  display: inline-block;
  font-family: "Poppins", sans-serif;
  vertical-align: top;
}

#ex_04 .wrap > div.grab_it {
  border: 10px solid #6364a7;
  padding: 10px;
}

#ex_04 .wrap .grab_it h3 {
  font-family: "Racing Sans One", sans-serif;
  font-size: 40px;
  color: #6364a7;
}

#ex_04 .wrap .grab_it p {
  position: absolute;
  bottom: 20px;
  left: 20px;
  font-size: 16px;
  color: #777;
  font-family: "Poppins", sans-serif;
}

#ex_04 .wrap > div.img {
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: #b3b4f7;
}

#ex_04 .wrap > div.img.img1 {
  background-image: url(../img/design_01.png);
}

#ex_04 .wrap > div.img .explane {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(9, 10, 77, 0.75);
  padding: 10px 0;
  text-align: center;
  color: #fff;
  font-family: "Poppins", sans-serif;
  display: block;
}

#ex_04 .wrap > div.img .explane h2 {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  padding-bottom: 10px;
}

#ex_04 .wrap > div.img .explane p {
  font-size: 14px;
  color: white;
  text-align: center;
  font-family: "Poppins", sans-serif;
}

#ex_04 .wrap > div.txt {
  background-color: #6364a7;
}
#ex_04 .wrap > div.txt.txt2 {
}
#ex_04 .wrap > div.txt.txt2 h3 {
  font-size: 36px;
  color: white;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
}
#ex_04 .wrap > div.txt.txt2 p {
  font-size: 16px;
  color: #b3b4f7;
  position: absolute;
  bottom: 20px;
  left: 20px;
  font-family: "Poppins", sans-serif;
  width: calc(100% - 40px);
}

#ex_04 .wrap > div.img.img2 {
  background-image: url(../img/design_02.png);
}

#ex_04 .wrap > div.img .explane {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(9, 10, 77, 0.75);
  padding: 10px 0;
  text-align: center;
  color: #fff;
  font-family: "Poppins", sans-serif;
  display: block;
}

#ex_04 .wrap > div.img .explane h2 {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  padding-bottom: 10px;
}

#ex_04 .wrap > div.img .explane p {
  font-size: 14px;
  color: white;
  text-align: center;
  font-family: "Poppins", sans-serif;
}

#ex_04 .wrap > div.txt {
  background-color: #6364a7;
}
#ex_04 .wrap > div.txt.txt3 {
}
#ex_04 .wrap > div.txt.txt3 h3 {
  font-size: 36px;
  color: white;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
}
#ex_04 .wrap > div.txt.txt3 p {
  font-size: 16px;
  color: #b3b4f7;
  position: absolute;
  bottom: 20px;
  left: 20px;
  font-family: "Poppins", sans-serif;
  width: calc(100% - 40px);
}

#ex_04 .wrap > div.img.img4 {
  background-image: url(../img/design_03.png);
}

#ex_04 .wrap > div.img .explane {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(9, 10, 77, 0.75);
  padding: 10px 0;
  text-align: center;
  color: #fff;
  font-family: "Poppins", sans-serif;
  display: block;
}

#ex_04 .wrap > div.img .explane h2 {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  padding-bottom: 10px;
}

#ex_04 .wrap > div.img .explane p {
  font-size: 14px;
  color: white;
  text-align: center;
  font-family: "Poppins", sans-serif;
}

#ex_04 .wrap > div.txt {
  background-color: #6364a7;
}
#ex_04 .wrap > div.txt.txt4 {
}
#ex_04 .wrap > div.txt.txt4 h3 {
  font-size: 36px;
  color: white;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
}
#ex_04 .wrap > div.txt.txt4 p {
  font-size: 16px;
  color: #b3b4f7;
  position: absolute;
  bottom: 20px;
  left: 20px;
  font-family: "Poppins", sans-serif;
  width: calc(100% - 40px);
}

#ex_04 .wrap > div.img.img5 {
  background-image: url(../img/design_04.png);
}

#ex_04 .wrap > div.img .explane {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(9, 10, 77, 0.75);
  padding: 10px 0;
  text-align: center;
  color: #fff;
  font-family: "Poppins", sans-serif;
  display: block;
}

#ex_04 .wrap > div.img .explane h2 {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  padding-bottom: 10px;
}

#ex_04 .wrap > div.img .explane p {
  font-size: 14px;
  color: white;
  text-align: center;
  font-family: "Poppins", sans-serif;
}

#ex_04 .wrap > div.txt {
  background-color: #6364a7;
}
#ex_04 .wrap > div.txt.txt5 {
}
#ex_04 .wrap > div.txt.txt5 h3 {
  font-size: 36px;
  color: white;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
}

#ex_04 .wrap > div.txt2:hover:after {
  content: "";
  display: block;
  position: absolute;
  border-left: 20px solid #6364a7;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  left: -20px;
  top: calc(50% - 20px);
  z-index: 1;
  rotate: 180deg;
}
#ex_04 .wrap > div.txt3:hover:after {
  content: "";
  display: block;
  position: absolute;
  border-left: 20px solid #6364a7;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  right: -20px;
  top: calc(50% - 20px);
  z-index: 1;
}
#ex_04 .wrap > div.txt4:hover:after {
  content: "";
  display: block;
  position: absolute;
  border-bottom: 20px solid #6364a7;
  border-right: 20px solid transparent;
  border-left: 20px solid transparent;
  top: -20px;
  left: calc(50% - 20px);
  z-index: 1;
}

#ex_04 .wrap > div.txt5:hover:after {
  content: "";
  display: block;
  position: absolute;
  border-left: 20px solid #6364a7;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  left: -20px;
  top: calc(50% - 20px);
  z-index: 1;
  rotate: 180deg;
}
#ex_04 .wrap > div.txt.txt5 p {
  font-size: 16px;
  color: #b3b4f7;
  position: absolute;
  bottom: 20px;
  left: 20px;
  font-family: "Poppins", sans-serif;
  width: calc(100% - 40px);
}
